{
  "extends": ["prettier", "react-app", "plugin:jsx-a11y/strict"],
  "plugins": ["prettier", "@babel", "jsx-a11y"],
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "requireConfigFile": false,
    "babelOptions": {
      "presets": ["@babel/preset-react"]
    }
  },
  "rules": {
    "prettier/prettier": [1, { "trailingComma": "all", "singleQuote": true }]
  }
}
